<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>web-socket-stomp-chatting</title>
</head>
<body>
<h1>{{room.name}}({{room.id}})</h1>
<div class="content">
  <ul class="chat-box">
  </ul>
  <input name="message">
  <button class="send">보내기</button>
</div>
</body>
<script th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    const _roomId = /*[[${roomId}]]*/;
    const _member = /*[[${member}]]*/;
    /*]]>*/

    const $chatBox = $(".chat-box")
    const $message = $("input[name='message']");
    const $sendButton = $(".send");

    const sock = new SockJS("/ws-connection");
    const client = Stomp.over(sock);

    $(document).ready(function(){

        client.connect({}, () => {
            // 3. send(path, header, message)로 메시지를 보낼 수 있다.
            client.send('/publish/chat/join', {}, JSON.stringify({roomId: _roomId, senderId: _member}));
            // 4. subscribe(path, callback)로 메시지를 받을 수 있다. callback 첫번째 파라미터의 body로 메시지의 내용이 들어온다.
            client.subscribe('/subscribe/chat/room/' + _roomId, function(chat) {
                const content = JSON.parse(chat.body);
                $chatBox.append('<li>' + content.message + '(' + content.writer + ')</li>')
            });
        });

        $sendButton.click(function () {
            const message = $message.val();
            client.send('/publish/chat/message', {}, JSON.stringify({roomId: _roomId, message: message, senderId: _member}));
            $message.val('');
        });
    });
</script>
</html>